h1 {
    
    color: black;
	text-shadow: 1px 1px 2px orange;
    
}
h2 {

    color:black;
    background: linear-gradient(to right, orange, white);
}
*{
    background-color: beige;
}
table{
    width: 100%;
    width: auto;
    height: 100px;
}